<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>OpenGame</string>
	<key>CFBundleExecutable</key>
	<string>OpenGame</string>
	<key>CFBundleIconFile</key>
	<string>OpenGame.icns</string>
	<key>CFBundleIdentifier</key>
	<string>local.opengame.launcher</string>
	<key>CFBundleName</key>
	<string>OpenGame</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.6</string>
	<key>CFBundleVersion</key>
	<string>0.5.6</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>运行中的 Windows 游戏可使用麦克风进行游戏内语音聊天。你可以拒绝访问。</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key><string>OpenGame Bottle Archive</string>
			<key>CFBundleTypeRole</key><string>Editor</string>
			<key>LSItemContentTypes</key><array><string>local.opengame.bottle-archive</string></array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key><string>local.opengame.bottle-archive</string>
			<key>UTTypeConformsTo</key><array><string>public.zip-archive</string></array>
			<key>UTTypeDescription</key><string>OpenGame Bottle Archive</string>
			<key>UTTypeTagSpecification</key><dict><key>public.filename-extension</key><array><string>opengamebottle</string></array></dict>
		</dict>
	</array>
</dict>
</plist>
